@import "../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "breakpoints";
@import "colors";
html, body{
    font-family: 'Courier', monospace;
    margin: 0;
    *{
        max-width: 100%;
    }
}
button {
    background: none;
    border: none;
    cursor: pointer;
}

footer{
    @extend %initial-screen;
    font-size: .8em;
}
@import "home_screen";
@import "score_screen";