button.back-button {
  background: #EF9A9A;
  border: solid #F44336 2px;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
  height: 1.6em;
  margin-left: .5em;
  position: fixed;
  width: 1.6em;
  z-index: 5; }
  button.back-button:hover {
    background: #E57373; }

#main-score {
  min-height: 50vh;
  margin: 0 auto; }

.file-header h1 {
  text-align: center; }
