html, body {
  font-family: 'Courier', monospace;
  margin: 0; }
  html *, body * {
    max-width: 100%; }

button {
  background: none;
  border: none;
  cursor: pointer;
  -webkit-transition: background ease 500ms; }

button:hover {
  -webkit-transition: background ease 500ms; }

footer, .presentation, .initial-options {
  text-align: center;
  margin: 0 auto;
  max-width: 40em;
  padding-left: 1em;
  padding-right: 1em; }

footer {
  font-size: .8em;
  padding: 0 !important; }

footer, .presentation, .initial-options {
  text-align: center;
  margin: 0 auto;
  max-width: 40em;
  padding-left: 1em;
  padding-right: 1em; }

.presentation > h1 {
  font-size: 3em;
  margin-top: 0; }

.initial-options {
  box-sizing: border-box;
  display: flex;
  font-size: .9em;
  flex-wrap: wrap; }
  .initial-options > * {
    box-sizing: border-box;
    text-align: center;
    padding: 1em;
    width: 100%; }
    @media (min-width: 480px) {
      .initial-options > * {
        width: 50%; } }
  @media (min-width: 480px) {
    .initial-options > *:nth-child(2) {
      border-left: 1px solid #000; } }
  .initial-options p {
    text-align: left; }
  .initial-options .first-example > button {
    background: #EF9A9A;
    border: solid #F44336 2px;
    color: #C62828; }
    .initial-options .first-example > button:hover {
      background: #E57373; }
  .initial-options .library > button {
    background: #9FA8DA;
    border: solid #3F51B5 2px;
    color: #283593; }
    .initial-options .library > button:hover {
      background: #7986CB; }
  .initial-options button {
    border-radius: 3px;
    font-family: inherit;
    font-size: 1.3em;
    font-weight: bold;
    height: 4em;
    margin: 0.25em;
    padding: .5em;
    text-align: center;
    width: 12em; }

footer, .presentation, .initial-options {
  text-align: center;
  margin: 0 auto;
  max-width: 40em;
  padding-left: 1em;
  padding-right: 1em; }

button.back-button {
  background: #EF9A9A;
  border: solid #F44336 2px;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
  height: 1.6em;
  margin: 0 .5em 0 .5em;
  position: fixed;
  width: 1.6em;
  z-index: 1; }
  button.back-button:hover {
    background: #E57373; }

#main-score {
  min-height: 50vh;
  margin: 0 auto; }

.control-buttons {
  border-radius: 3px;
  background: linear-gradient(rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%);
  backdrop-filter: blur(2px);
  left: 50%;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  user-select: none;
  z-index: 2; }
  .control-buttons button {
    font-size: 3em;
    transition: ease 400ms color;
    position: relative;
    z-index: 3; }
    .control-buttons button :hover {
      color: #4CAF50;
      cursor: pointer;
      transition: ease 400ms color; }

.blur-bg {
  background: linear-gradient(rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 0.8) 100%);
  bottom: 0;
  left: 0;
  filter: blur(20px);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1; }

.file-header h1 {
  text-align: center; }

footer, .presentation, .initial-options {
  text-align: center;
  margin: 0 auto;
  max-width: 40em;
  padding-left: 1em;
  padding-right: 1em; }

.lib-header h1 {
  font-size: 3em;
  text-align: center;
  margin-top: .5em; }

.lib-wrapper {
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 90vw; }
  .lib-wrapper > * {
    box-sizing: border-box;
    padding: 1em;
    text-align: center;
    width: 100%; }
    @media (min-width: 480px) {
      .lib-wrapper > * {
        width: 50%; } }
  .lib-wrapper .file-navigator {
    max-height: 50vh;
    overflow-y: auto;
    width: 100%; }
    .lib-wrapper .file-navigator option {
      padding: .3em; }
  .lib-wrapper .buttons {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between; }
    .lib-wrapper .buttons button {
      background-color: #3F51B5;
      border: solid 1px #283593;
      border-radius: 3px;
      color: #fff;
      font-family: inherit;
      font-size: 1.3em;
      font-weight: bold;
      height: 4em;
      margin: 0.25em;
      padding: 0;
      text-align: center;
      width: 12em; }
      .lib-wrapper .buttons button:hover {
        background-color: #9FA8DA; }
