@import "../../node_modules/breakpoint-sass/stylesheets/breakpoint";
@import "breakpoints";
@import "colors";
@import "small_block";

button.back-button {
  $size: 1.6em;

  background: red(2);
  border: solid red() 2px;
  border-radius: 50%;
  color: #fff;
  font-size: 2em;
  height: $size;
  margin: 0 0.5em 0 0.5em;
  position: fixed;
  width: $size;
  z-index: 1;

  &:hover {
    background: red(3);
  }
}

#main-score {
  min-height: 50vh;
  margin: 0 auto;
}

.control-buttons {
  border-radius: 3px;
  background: linear-gradient(rgba(#fff, 0.4) 0%, rgba(#fff, 0.8) 100%);
  backdrop-filter: blur(2px);
  left: 50%;
  position: fixed;
  top: 0;
  transform: translateX(-50%);
  user-select: none;
  z-index: 2;

  button {
    font-size: 3em;
    transition: ease 400ms color;
    position: relative;
    z-index: 3;

    :hover {
      color: green();
      cursor: pointer;
      transition: ease 400ms color;
    }
  }
}

.blur-bg {
  background: linear-gradient(rgba(#fff, 0.4) 0%, rgba(#fff, 0.8) 100%);
  bottom: 0;
  left: 0;
  filter: blur(20px);
  position: absolute;
  right: 0;
  top: 0;
  z-index: 1;
}

.file-header h1 {
  text-align: center;
}
