@import "font.scss";
@import "colors";

html,
body {
  font-family: 'ABeeZee', 'Verdana', sans-serif;
  margin: 0;

  * {
    max-width: 100%;
  }
}

button {
  background: none;
  border: none;
  cursor: pointer;
  transition: background ease 500ms;

  &:hover {
    transition: background ease 500ms;
  }
}

a,
a:visited,
a:hover {
  color: $blue;
}

@import "small_block";

footer {
  @extend %small-block;

  font-size: 0.8em;
  padding: 0 !important;
}

@import "home_screen";
@import "score_screen";
@import "lib_screen";
